@model ManageUserRolesViewModel

@{
    ViewBag.Title = "Admin-Home-Page";
}
<h3>"Admin-Home-Page"</h3>
<h5>return to <a asp-controller="Stocks" asp-action="Explore">stocks</a> </h5>

<h3> Go to <a asp-controller="Home" asp-action="GetRegisteredUsersWithRoles">students</a></h3>

<h2>User Role Management</h2>

